/* Основной стиль для навигационной панели */
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to right, #2a006a, #000000); /* Градиентный фон */
    padding: 10px 20px;
    font-family: Arial, sans-serif;
}

/* Стили для ссылок */
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    margin-right: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Эффект при наведении на ссылку */
nav a:hover {
    background-color: rgba(0, 0, 0, 0.3);  /* Полупрозрачный фон при наведении */
    transform: scale(1.1);
}

/* Последняя ссылка без отступа справа */
nav a:last-child {
    margin-right: 0;
}

.home-container {
    position: relative;
    width: 100%;
    min-height: 100vh; /* На всю высоту экрана */
    overflow: hidden; /* Обрезает лишнее, если видео больше контейнера */
}

